<section class="mat-typography title-group">
	<h1>Login</h1>
	<mat-divider></mat-divider>
</section>
<mat-card class="card-wrapper">
	<form (submit)="login()" [formGroup]="loginFormGroup">
		<div class="login-wrapper">
			<section>
				<mat-form-field>
					<label for="email">Email</label>
					<input matInput id="email" type="email" name="email" formControlName="email" autocomplete="email" required />
					<mat-error *ngIf="loginFormGroup.controls.email && loginFormGroup.controls.email.invalid">This field is
						required</mat-error>
					</mat-form-field>
			</section>
			<section>
				<mat-form-field>
					<label for="password">Password</label>
					<input matInput id="password" type="password" name="password" formControlName="password"
						autocomplete="current-password" required />
					<mat-error *ngIf="loginFormGroup.controls.password && loginFormGroup.controls.password.invalid">This field
						is required
					</mat-error>
					</mat-form-field>
			</section>
			<section class="text-right">
				<button type="submit" mat-raised-button color="primary">Login</button>
			</section>
			</div>
			</form>
</mat-card>
