# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ng-app/dist
ng-app/tmp
ng-app/out-tsc
ng-app/.scannerwork
ng-app/coverage
ng-app/sonar/**

# dependencies
**/**/node_modules
/mongodb/**

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.sonarlint/**

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.pyc
**/sonar/**
/python-service/RPi/**
/python-service/RPi.egg-info/**

# System Files
.DS_Store
Thumbs.db
