<section class="mat-typography title-group">
  <h1>Register</h1>
  <mat-divider></mat-divider>
</section>
<mat-card class="card-wrapper">
  <form
    (submit)="register()"
    [formGroup]="registerFormControl"
    class="register-wrapper text-center"
  >
    <div class="fields-container">
      <mat-form-field>
        <label for="name">Name</label>
        <input
          matInput
          id="name"
          type="text"
          name="name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="registerFormControl.get('name').invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="fields-container">
      <mat-form-field>
        <label for="email">Email</label>
        <input
          matInput
          id="email"
          type="email"
          formControlName="email"
          required
        />
        <mat-error *ngIf="registerFormControl.get('email').invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="fields-container">
      <mat-form-field>
        <label for="password">Password</label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
          autocomplete="new-password"
          required
        />
        <mat-error *ngIf="registerFormControl.get('password').invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="fields-container">
      <mat-form-field>
        <label for="confirm-password">Confirm Password</label>
        <input
          matInput
          id="confirm-password"
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password"
          required
          data-ng-required="true"
        />
        <mat-error *ngIf="registerFormControl.get('confirmPassword').invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="text-right">
      <button type="submit" mat-raised-button color="primary">Register</button>
    </div>
  </form>
</mat-card>
